{% extends "layout.html" %}

{% block content %}

  <article class="media content-section">
    <img class = "rounded-circle article-img" src = "{{ url_for('static', filename = 'profile_pics/' + announcement.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ announcement.author.username }}</a>
        <small class="text-muted">{{announcement.date_posted.strftime('%m-%d-%Y') }}</small>
      </div>
      <h2 class = "article-title">{{ announcement.title }}</h2>
      <p class="article-content">{{ announcement.content }}</p>
    </div>
  </article>

{% endblock content  %}